<div data-role="view"  id="mainArticleView" data-model="app.mainArticleService.viewModel" data-show="app.mainArticleService.viewModel.show" data-use-native-scrolling="true">
    <div id="blokData" data-template="articleContentView" data-bind="source:articleDetail"></div>
</div>

<script type="text/x-kendo-template" id="articleContentView">
    #if(data === ""){#
        <p>Loading....</p>
    #}else{#
        <div class="mainTempDv">
            <div class="even fstDv">
                <h2 style="text-align:center;color:\#FFF">#:data['field_first_title']#</h2>
                <h2 style="text-align:center;color:\#FFF">#:data['field_bold_title']#</h2>
            </div>
            <div class="dvWdh odd">
                #=data['field_first_text_area']#
                <h2>#:data['field_second_title']#</h2>
                #=data['field_second_text_area']#
            </div>
            <div class="even dvWdh">
                <h2>#:data['field_third_title']#</h2>
                #=data['field_third_text_area']#
            </div>
            <div class="dvWdh odd">
                <h2>#:data['field_fourth_title']#</h2>
                #=data['field_fourth_text_area']#
            </div>
            <div class="even lstDv">
                <h2 style="font-size:20px;text-align:center;line-height:40px;">#:data['field_fifth_title']#</h2>
                #=data['field_fifth_text_area']#
            </div>
        </div>
    #}#
        
    
</script>
