<div data-role="view"  id="mainArticleView" data-model="app.mainArticleService.viewModel" data-show="app.mainArticleService.viewModel.show" data-use-native-scrolling="true">
    <div data-role="content">
        <div id="blokData" data-template="articleContentView" data-bind="source:articleDetail"></div>
        
        <div class="comments">
            <hr/>
            <p>
                <a data-role="button" data-rel="modalview" href="#comment-view" class="addcom">Add Comments</a>
            </p>
            <p>Comments</p>
        </div>
        
        <div class="homeFooter">
            <div class="content1">
                <h3 style="margin-left: 25px;">Who we are</h3>
                <div class="content">
                    <ul class="menu">
                        <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToAboutus">About Us</a></li>
                        <li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToOurteam">Our Team</a></li>
                        <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToPrivacyPolicy">Privacy Policy</a></li>
                    </ul>  
                </div>
            </div>
            <div class="content2">
                <h3 style="margin-left: 25px;">CUSTOMER CARE</h3>
                <div class="content">
                    <ul class="menu">
                        <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToTermsCondition">Terms &amp; Conditions</a></li>
                        <li class="leaf"><a data-role="button" title="">FAQs</a></li>
                        <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToContactus" title="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-role="modalview" id="comment-view" style="width: 90%;">
    <div data-role="header">
        <div data-role="navbar" style="background-color:#21262C;color:#fff;">
            <span>Comment</span>
            <a data-click="closeModalViewLogin" data-role="button" data-align="right">Cancel</a>
        </div>
    </div>

    <div data-role="content">
        <p>
            <input type="text" id="comment_text" class="commentTxtFld" data-bind="value:commentdata" placeholder="Add your comment"/>
        </p>
    </div>
    <div data-role="footer">
        <div data-role="navbar">
            <a data-click="closeModalViewLogin" id="modalview-login-button" type="button" data-role="button" data-align="right">Login</a>
            <a data-click="closeModalViewLogin" id="modalview-reg-button" type="button" data-role="button" data-align="right">Register</a>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="articleContentView">
    #if(data === ""){#
        <p>Loading....</p>
    #}else{#
        <div class="mainTempDv">
            #if(data['field_inner_bannr_image'] !== "http://okplay.club/"){#
                <div class="bannerDv">
                    <img src="#:data['field_inner_bannr_image']#" width="100%"/>
                </div>
                <div class="bannerWthcontentDv">
                    <div class="even fstDv">
                        <h3>
                            #:data['field_first_title']#
                            <strong class="bold">#:data['field_bold_title']#</strong>
                        </h3>
                    </div>
                    <div class="dvWdh odd">
                        #=data['field_first_text_area']#
                        <h2>#:data['field_second_title']#</h2>
                        #=data['field_second_text_area']#
                    </div>
                    <div class="even dvWdh">
                        <h2>#:data['field_third_title']#</h2>
                        #=data['field_third_text_area']#
                    </div>
                    <div class="dvWdh odd">
                        <h2>#:data['field_fourth_title']#</h2>
                        #=data['field_fourth_text_area']#
                    </div>
                    <div class="even lstDv">
                        <h2 style="font-size:20px;text-align:center;line-height:40px;">#:data['field_fifth_title']#</h2>
                        #=data['field_fifth_text_area']#
                    </div>
                </div>
                <div class="shareDv">
                   <p>
                      <a data-role="button" data-icon="share" data-title="#:data['field_first_title']#" data-click="app.mainArticleService.viewModel.shareThisArticle"></a>  
                   </p>                     
                </div>
            #}else{#
                <div class="bannerremContentDv">
                    <div class="even fstDv">
                        <h3>
                            #:data['field_first_title']#
                            <strong class="bold">#:data['field_bold_title']#</strong>
                        </h3>
                    </div>
                    <div class="dvWdh odd ">
                        #=data['field_first_text_area']#
                        <div><h2>#:data['field_second_title']#</h2></div>
                        #=data['field_second_text_area']#
                    </div>
                    <div class="odd dvWdh">
                        <h2>#:data['field_third_title']#</h2>
                        #=data['field_third_text_area']#
                    </div>
                    <div class="dvWdh odd">
                        <div><h2>#:data['field_fourth_title']#</h2></div>
                        #=data['field_fourth_text_area']#
                    </div>
                    <div class="odd lstDv">
                        <h2>#:data['field_fifth_title']#</h2>
                        #=data['field_fifth_text_area']#
                    </div>
                </div>
                <div class="shareDv">
                   <p>
                      <a data-role="button" data-icon="share" data-title="#:data['field_first_title']#" data-click="app.mainArticleService.viewModel.shareThisArticle"></a>  
                   </p>                   
                </div>
            #}#
        </div>
    #}#
        
    
</script>

<script>
    function checkit()
    {
        alert("ok");
    }
</script>
