<!--Homepage View and categoryList template-->
<div data-role="view" data-title="okplay" id="homepageView" data-use-native-scrolling="true" data-model="app.homeService.viewModel" data-after-show="app.homeService.viewModel.show">
    <!--Category ListData-->
    <div data-role="content" class="outerDV mainContDv">
        <div id="internetTxt"></div>
        <div id="bxs" class="bxs"></div>
        <div class="homeContent">
            <div id="blockContent">&nbsp;</div>
            <div id="blockrightContent">
                <ul id="homepageContent" data-template="homepageContentView" data-bind="source:homePageData"></ul>
            </div>
        </div>
        <div style="height:1px"></div>
        <div class="homeFooter">
            <div class="content1">
                <div class="contentInner1">
                    <h3>Who we are</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToAboutus">About Us</a></li>
                            <!--<li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToOurteam">Our Team</a></li>-->
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToPrivacyPolicy">Privacy Policy</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToDisclaimer">Disclaimer</a></li>
                        </ul>  
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="contentInner2">
                    <h3 >CUSTOMER CARE</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToTermsCondition">Terms &amp; Conditions</a></li>
                            <li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToFaqs">FAQs</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToContactus" title="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="homepageContentView">
    #if(data['img'] !== ""){#
        <li>
            <div>
                #if(data['name'] === 'Nutrition'){#
                    <p>#:data['name']# & well  being</p>
                #}else{#
                    <p>#:data['name']#</p>
                #}#
                <p>
                    <img src="#:data['img']#"/>
                </p>
                <p>
                    <a class="browseBtn" data-id="#:data['id']#" data-click="app.homeService.viewModel.browseArticle" data-role="button">BROWSE ARTICLES</a>
                </p>
            </div>
        </li>
    #}#
</script>

<script type="text/x-kendo-template" id="categoryListView">
    <span data-id="#: data['id'] #" data-bind="click:categoryArticle">#: data['name'] #</span>
</script>

<script>
    function check()
    {
        app.mobileApp.navigate('views/categoryList.html');
    }
</script>

<!--Myaccount View-->
<div data-role="view" id="myaccountView" data-model="app.loginService.viewModel" data-show="app.loginService.viewModel.myAcccountshow">
    <div data-role="content">
        <div class="fldcontent">
            <h2 id="username"></h2>
            <p id="useremail"></p>
        </div>
    </div>
</div>

<!--Contact us View-->
<div data-role="view" id="contactus" data-use-native-scrolling="true" data-model="app.contact.viewModel" data-show="app.contact.viewModel.show">
    <div data-role="content">
        <div class="contactdetail">
            <h1 class="page-title">Contact Us</h1>
            <p>You can write into us:</p>
            <p style="line-height: 22px;">On e-mail at: <a href="mailto:customer.care@okplay.in" data-rel="external">customer.care@okplay.in</a><br>On phone at: 1800919191, <span class="skype_c2c_print_container notranslate">011-46190095</span>
                <!--<span class="skype_c2c_print_container notranslate">011-46190095</span><span id="skype_c2c_container" class="skype_c2c_container notranslate" dir="ltr" tabindex="-1" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" data-numbertocall="+441146190095" data-numbertype="paid" data-isfreecall="false" data-isrtl="false" data-ismobile="false"><span class="skype_c2c_highlighting_inactive_common" dir="ltr" skypeaction="skype_dropdown"><span class="skype_c2c_textarea_span" id="non_free_num_ui"><img width="0" height="0" class="skype_c2c_logo_img" src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/call_skype_logo.png"><span class="skype_c2c_text_span">011-46190095</span><span class="skype_c2c_free_text_span"></span></span></span></span>--> (9.30 AM to 6:30 PM IST)
            </p>
            <p style="line-height: 22px;">OK Play India Ltd.<br>124, New Manglapuri<br>Mehrauli<br>New Delhi-110030</p>
        </div>
        <div class="contactFldFrm">
            
            <form id="contactusForm" data-bind="events: { keyup: EnterContactUs }">
                <p>
                    
                    <input type="text" name="contect_name" data-bind="value:contect_name" id="contect_name" class="contTxtfld" placeholder="Name" required/>
                </p>
                <p>
                    
                    <input type="text" name="contect_email" data-bind="value:contect_email" id="contect_email" class="contTxtfld" placeholder="Email ID" required/>
                </p>
                <p>
                    
                    <input type="number" name="contect_number" data-bind="value:contect_number" size="10" id="contect_number" maxlength="10" class="contTxtfld" placeholder="Mobile Number" title="Please do not enter more than 10 characters" required/>
                </p>
                <p>
                    
                    <textarea placeholder="Message" name="contect_message" data-bind="value:contect_message" id="contect_message" class="conttxtarea" required></textarea>
                </p>
            </form>
        </div>
        <div class="contactSubBtn">
            <p>
                <a data-role="button" class="contactBtn" data-bind="click:submitContact">Submit</a>
            </p>
        </div>
    </div>
</div>

<!--about us view-->
<div data-role="view" id="aboutus" data-model="app.contact.viewModel" data-show="app.contact.viewModel.aboutshow" data-use-native-scrolling="true">
    <div data-role="content">
        <h1 id="aboutTitle"></h1>
        <div id="aboutBody"></div>

        <div class="homeFooter">
            <div class="content1">
                <div class="contentInner1">
                    <h3>Who we are</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToAboutus">About Us</a></li>
                            <!--<li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToOurteam">Our Team</a></li>-->
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToPrivacyPolicy">Privacy Policy</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToDisclaimer">Disclaimer</a></li>
                        </ul>  
                    </div>
                </div>    
            </div>
            <div class="content2">
                <div class="contentInner2">
                    <h3>CUSTOMER CARE</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToTermsCondition">Terms &amp; Conditions</a></li>
                            <li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToFaqs">FAQs</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToContactus" title="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>

<!--our team view-->
<div data-role="view" id="ourteam" data-model="app.contact.viewModel" data-show="app.contact.viewModel.ourteamshow" data-use-native-scrolling="true">
    <div data-role="content">
        <h1 id="ourteamTitle"></h1>
        <div id="ourteamBody"></div>
        
        <div class="homeFooter">
            <div class="content1">
                <div class="contentInner1">
                    <h3>Who we are</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToAboutus">About Us</a></li>
                            <!--<li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToOurteam">Our Team</a></li>-->
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToPrivacyPolicy">Privacy Policy</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToDisclaimer">Disclaimer</a></li>
                        </ul>  
                    </div>
                </div>    
            </div>
            <div class="content2">
                <div class="contentInner2">
                    <h3>CUSTOMER CARE</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToTermsCondition">Terms &amp; Conditions</a></li>
                            <li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToFaqs">FAQs</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToContactus" title="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

<!--privacyPolicy view-->
<div data-role="view" id="privacyPolicy" data-model="app.contact.viewModel" data-show="app.contact.viewModel.privacypolicyshow" data-use-native-scrolling="true">
    <div data-role="content">
        <h1 id="privacyTitle"></h1>
        <div id="privacyBody"></div>
        
        <div class="homeFooter">
            <div class="content1">
                <div class="contentInner1">
                    <h3>Who we are</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToAboutus">About Us</a></li>
                            <!--<li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToOurteam">Our Team</a></li>-->
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToPrivacyPolicy">Privacy Policy</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToDisclaimer">Disclaimer</a></li>
                        </ul>  
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="contentInner2">
                    <h3>CUSTOMER CARE</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToTermsCondition">Terms &amp; Conditions</a></li>
                            <li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToFaqs">FAQs</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToContactus" title="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!--Disclaimer view-->
<div data-role="view" id="disclaimer" data-model="app.contact.viewModel" data-show="app.contact.viewModel.disclaimerShow" data-use-native-scrolling="true">
    <div data-role="content">
        <h1 id="disclaimerTitle"></h1>
        <div id="disclaimerBody"></div>
        
        <div class="homeFooter">
            <div class="content1">
                <div class="contentInner1">
                    <h3>Who we are</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToAboutus">About Us</a></li>
                            <!--<li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToOurteam">Our Team</a></li>-->
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToPrivacyPolicy">Privacy Policy</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToDisclaimer">Disclaimer</a></li>
                        </ul>  
                    </div>
                </div>    
            </div>
            <div class="content2">
                <div class="contentInner2">
                    <h3>CUSTOMER CARE</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToTermsCondition">Terms &amp; Conditions</a></li>
                            <li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToFaqs">FAQs</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToContactus" title="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

<!--termsConditionView view-->
<div data-role="view" id="termsConditionView" data-model="app.contact.viewModel" data-show="app.contact.viewModel.termsshow" data-use-native-scrolling="true">
    <div data-role="content">
        <h1 id="termsTitle"></h1>
        <div id="termsBody"></div>
        
        <div class="homeFooter">
            <div class="content1">
                <div class="contentInner1">
                    <h3>Who we are</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToAboutus">About Us</a></li>
                            <!--<li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToOurteam">Our Team</a></li>-->
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToPrivacyPolicy">Privacy Policy</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToDisclaimer">Disclaimer</a></li>
                        </ul>  
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="contentInner2">
                    <h3>CUSTOMER CARE</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToTermsCondition">Terms &amp; Conditions</a></li>
                            <li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToFaqs">FAQs</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToContactus" title="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--faqsView view-->
<div data-role="view" id="faqsView" data-model="app.contact.viewModel" data-show="app.contact.viewModel.faqshow" data-use-native-scrolling="true">
    <div data-role="content">
        <h2 id="faqsTitle">Frequently Asked Questions</h2>
        <div id="faqsBody">
            <div class="faqList">
                
            </div>
            <div class="faqdata">
                
            </div>
        </div>
        
        <div class="homeFooter">
            <div class="content1">
                <div class="contentInner1">
                    <h3>Who we are</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToAboutus">About Us</a></li>
                            <!--<li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToOurteam">Our Team</a></li>-->
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToPrivacyPolicy">Privacy Policy</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToDisclaimer">Disclaimer</a></li>
                        </ul>  
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="contentInner2">
                    <h3>CUSTOMER CARE</h3>
                    <div class="content">
                        <ul class="menu">
                            <li class="first leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToTermsCondition">Terms &amp; Conditions</a></li>
                            <li class="leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToFaqs">FAQs</a></li>
                            <li class="last leaf"><a data-role="button" data-click="app.homeService.viewModel.moveToContactus" title="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

