<!--Homepage View and categoryList template-->
<div data-role="view" data-title="okplay" id="homepageView" data-use-native-scrolling="true" data-model="app.homeService.viewModel" data-after-show="app.homeService.viewModel.show">
    <!--Category ListData-->
    <div id="bxs" class="bxs"></div>
    <div data-role="content" class="outerDV">
        <!--<div class="browseArticle">
            <div class="browseArticle1">
                <h3>Welcome to OK PLAY Parenting.</h3>
                <p>Your companion in your joyous but challenging journey of parenthood! Find interesting articles, helpful tips and answers to your many questions about bringing up your children.</p>
            </div>
            <div class="browseArticle2">
                <h3>Expert Guidance</h3>
                <p>Write-in your problems and seek guidance from our eminent panel of experts. And also connect with other parents on our forums for a shared learning experience of parenting. Together, we can make parenting fun and meaningful.</p>
            </div>
            <div class="browseArticle3">
                <h3>Authentic News and Views</h3>
                <p>We feature well-researched articles to provide you with useful and latest information about parenting. Remain connected and up to date with the latest ideas and bring up your child consciously.</p>
            </div>
        </div>-->
        <div id="blockContent">
            <div class="blockDv1">
                <h2>Welcome to OK PLAY Parenting.</h2>
                <p>Your companion in your joyous but challenging journey of parenthood! Find interesting articles, helpful tips and answers to your many questions about bringing up your children.</p>
            </div>
            <div class="blockDv2">
                <h2>Expert Guidance</h2>
                <p>Write-in your problems and seek guidance from our eminent panel of experts. And also connect with other parents on our forums for a shared learning experience of parenting. Together, we can make parenting fun and meaningful.</p>
            </div>
            <div class="blockDv3">
                <h2>Authentic News and Views</h2>
                <p>We feature well-researched articles to provide you with useful and latest information about parenting. Remain connected and up to date with the latest ideas and bring up your child consciously.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="categoryListView">
    <span data-id="#: data['id'] #" data-bind="click:categoryArticle">#: data['name'] #</span>
</script>


<div data-role="view" id="myaccountView" data-model="app.loginService.viewModel" data-show="app.loginService.viewModel.show">
    <div data-role="content">
        <div class="fldcontent">
            <h2 id="username"></h2>
            <p id="useremail"></p>
        </div>
    </div>
</div>

