<div data-role="view" id="loginView" data-model="app.loginService.viewModel" data-show="app.loginService.viewModel.show" data-use-native-scrolling="true">
    <div data-role="content">
        <div class="txtfldCont">
            <h2 style="text-align:center">
                    LOG IN
            </h2>
            <form id="loginForm" class="frmdv" data-bind="events: { keyup: checkEnterLogin }">
               
                <p>
                    Please Fill the following information to Log in
                </p>
                <p>
                    <input type="text" name="email" data-bind="value:loginemail" class="logTxtFld" id="email" Placeholder="E-mail Address" required/>
                </p>
                <p>
                    <input type="password" name="pwd" data-bind="value:loginpwd" class="logTxtFld" id="pwd" Placeholder="Password" required/>
                </p>
            </form>
            <p class="loginBtn">
                <a data-role="button" data-bind="click:loginSubmit">Log In</a>
            </p>
        </div>
    </div>
</div>