<div data-role="view" id="searchContent" data-use-native-scrolling="true" data-model="app.searchService.viewModel">
    <div data-role="content">
        <h1>
            Site Search
        </h1>
        <p data-bind="text:searchStatus"></p>
        <div id="searchalldata">
            <!--<ul id="alldatasrch" data-role="listview" data-template="searchView" data-bind="source:searchlistData"></ul>-->
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="searchView">
   <div style="width:100%;height:250px;background:url('#:data['path']#') no-repeat;background-size:100% 100%;">
   </div>
    <h4>#: data['title']#</h4>
    <a href="" style="position: absolute;top: 277px;right: 18px;text-decoration:none">Read More</a>
</script>
