<div data-role="view" id="searchContent" data-use-native-scrolling="true" data-model="app.searchService.viewModel" data-show="app.searchService.viewModel.show">
    <div data-role="content">
        <h1>
            Site Search
        </h1>
        <p data-bind="text:searchStatus"></p>
        <div id="searchalldata">
            <ul id="alldatasrch" data-role="listview" data-template="searchView" data-bind="source:searchlistData"></ul>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="searchView">
   <div class="articleDv" style="background:url('#:data['path']#') no-repeat;background-size:100% 100%;">
        <span>#: data['title']#</span>
   </div>
   <a data-role="button" data-click="moveToArticle" data-id="#:data['id']#" class="searchBtn">Read More</a>
    
</script>

<script>
    function moveToArticle(e)
    {
        alert(e['target']['context']['attributes']['data-id']['value']);
    }
</script>