<!--Search View-->
<div data-role="view" id="searchContent" data-use-native-scrolling="false" data-model="app.searchService.viewModel" data-show="app.searchService.viewModel.show">
    <div data-role="content">
        <h1 class="txtclass">
            Site Search
        </h1>
        <p class="txtclass" data-bind="text:searchStatus"></p>
        <div id="searchalldata" data-bind="visible:searchlistStatus">
            <ul id="alldatasrch" data-role="listview" data-template="searchView" data-bind="source:searchlistData"></ul>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="searchView">
    #if(data['path'] !== "http://okplay.club/"){#
        <div class="articleDv">
            <span class="shadow"><img src="styles/images/shadow.png"></span>
            <img src="#:data['path']#" width="100%" height="100%"/>        
            <p data-value="#: data['id'] #" class="textTitle blankarticleTit" style="position: absolute;top: 0px;">#: data['title'] #</p>
        </div>
    #}else{#
        <div data-id="#: data['id'] #" class="articleDvDft">
            <span class="shadow"><img src="styles/images/shadow.png"></span>
            <img src="styles/images/no-image.jpg" width="100%" height="100%"/>    
            <p data-value="#: data['id'] #" class="textTitle articleTit" style="position: absolute;top: 0px;">#: data['title'] #</p>
        </div>
    #}#
   #if(data['path'] !== "http://okplay.club/"){#
        <a data-role="button" data-click="app.searchService.viewModel.readMoreArticle" data-id="#:data['id']#" data-title="#:data['title']#" class="searchBtn">Read More</a>
   #}else{#
        <a data-role="button" data-click="app.searchService.viewModel.readMoreArticle" data-id="#:data['id']#" data-title="#:data['title']#" class="searchBtnDFT">Read More</a>
   #}#
</script>