<!--Registration View-->
<div data-role="view" id="signupView" data-use-native-scrolling="true" data-model="app.signupService.viewModel" data-show="app.signupService.viewModel.show">
    <div data-role="contant">
        <div class="signuptxtfldCont">
            <form id="signupForm" class="frmdv">
               <h2>
                    Create new account
               </h2>
                <p>
                    <input type="text" name="signupfname" data-bind="value:signupfname" id="signupfname" placeholder="First Name" class="signupTxtFld"/>
                </p>
                <p>
                    <input type="text" name="signuplname" data-bind="value:signuplname" id="signuplname" placeholder="Last Name" class="signupTxtFld"/>
                </p>
                <p>
                    <input type="text" name="signupEmail" data-bind="value:signupEmail" id="signupEmail" placeholder="Email" class="signupTxtFld" required/>
                </p>
                <p>
                    <input type="password" name="signupPassword" data-bind="value:signupPassword" id="signupPassword" placeholder="Password" class="signupTxtFld" required/>
                </p>
                <p>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="signupTxtFld" required/>
                </p>
                <p>
                    <input type="number" name="signupmobilenumber" maxlength="10" data-bind="value:signupmobilenumber" id="signupmobilenumber" placeholder="Mobile Number" class="signupTxtFld"/>
                </p>
                <p class="genderP">
                    <span>
                        <input type="radio" name="gender" class="radioChk" id="gendermale" data-bind="checked:gendermale" value="male" required/>
                        <label for="male">Male</label>
                    </span>  
                    <span>
                        <input type="radio" name="gender" class="radioChk" id="genderfemale" data-bind="checked:genderfemale" value="female" required/>
                       <label for="female">Female</label> 
                    </span>
                </p>
            </form>
            <p class="signupBtn">
                <a data-role="button" data-click="app.signupService.viewModel.signupSubmit">Sign Up</a>
            </p>
        </div>
    </div>
</div>

<script>
    function cameraCap()
    {
        window.camera.captureCamera();
    }
    
    function galleryCap()
    {
        window.camera.gallery();
    }
</script>