<div data-role="view" data-model="app.demoService.viewModel">
    <div class="buttons">
        <button data-role="button" class="button" data-bind="click: getLoginStatus">Get login status</button>
        <button data-role="button" class="button" data-bind="click: login">Login</button>
    </div>
    
    <div class="buttons">
        <button data-role="button" class="button" data-bind="click: getNrOfFriends">Get  number of friends</button>
        <button data-role="button" class="button" data-bind="click: getUserData">Get (my) user data</button>
    </div>
    <div class="buttons">
        <button data-role="button" class="button" data-bind="click: logout">Bye!</button>
    </div>
</div>