#homepageView .km-content,#mainArticleView .km-content,#categoryArticleView .km-content,#searchContent .km-content,#contactus .km-content,#aboutus .km-content,#ourteam .km-content,#privacyPolicy .km-content,#termsConditionView .km-content{background:#FFF}

.km-drawer{content: "\e077";}
li:after {content: none;}

#ageList li:last-child, #categoryList li:last-child {border-bottom:1px solid !important;border-color: #252525 !important;border-width: 0 0 1px 0 !important;}
#ageList li span, #categoryList li span {font-size:16px !important;font-family:times !important}

/*7-8-2015*/
#category-dropdown {text-align:center;display:none;margin-top: 50px;}
#age-dropdown {text-align:center;/*margin-top: 50px;*/}


/*8-8-2015*/

#headerContent p:nth-child(1) {font-size: 25px;text-align: center;}
#headerContent p:nth-child(2) {font-size: 14px;text-align: center;}
.noartcle {font-size: 14px;margin-top: 30px;text-align: center;}


.drawerBtn {display:none}

.bx-wrapper .bx-pager {position: absolute;bottom: 15px;}
.bx-pager {display:none}
#popup {display:none}


/*27-07-2015*/
.removebtn {background:none !important;border:none !important;color:#C2C7CA !important}
.removebtn:active {background:none !important;border:none !important;color:#C2C7CA !important}


/*28-07-2015*/
#signupForm .camDv{width:100%;margin: -15px 0px 25px 0px;}
#signupForm .camDv .camContDv {width: 40%;height: 120px;margin: 0px auto;border-radius: 50%;display: block;}
#signupForm .camDv .camContDv .captureBtn {width: 100%;border-radius:50%;border: none;margin-top: 1px;margin-left: -5px;background:none !important}
#signupForm .camDv .camContDv .captureBtn img{border-radius: 50%;width:110px !important;height:110px !important}
.articleTit {font-size: 18px;color: #FFF;margin: 16px;text-shadow: 2px 2px 6px #000000;font-family:times}
.blankarticleTit {font-size: 18px;color: #FFF;margin: 16px;text-shadow: 2px 2px 6px #1A0A0A;font-family: times;}
#signupForm h2 {text-align:center;font-family: 'Lato', sans-serif;}
/*#signupForm p label:nth-child(1) {margin-left:-3px}
#signupForm p label:nth-child(2) {margin-left:47px}*/

.txtclass {text-align:center}
#filterDropdwn h2 {font-weight: 400;font-size: 35px;color: #7e7e7e;}


/*p:last-child label {display:block;clear:both;}*/


/*5-08-2015*/


.blkcls { text-align:center}


/*Loader*/
.km-loader {background-color: #FFF !important;}
.km-loader:before {background: #FFF !important}

/*13-08-2015*/
/*.km-list>li { border-style: none !important;}*/








